{% extends 'base.html.twig' %}

{% block title %}Kainoraštis
{% endblock %}

{% block body %}

	<div class="container-fluid" style="margin-top: 10%; margin-bottom: 5%;">
		<div class="row align-items-start" style="padding-right: 10%">
			<div class="col d-flex flex-row-reverse">
				<figure class="figure">
					<img src="cream.jpg" class="figure-img img-fluid rounded">
					<figcaption class="figure-caption">
						<p class="text-dark" style="font-size: 25px; font-weight: bold">Devitalizuojančios<br>
							pastos uždėjimas</p>
					</figcaption>
				</figure>
			</div>
			<div class="col">
				<ul class="list-group list-group-flush">
					<li class="list-group-item list-group-item-action" style="background-color: #24b8f7; width: 400px;">
						Devitalizuojanti pasta - tai specialus medikamentas skirtas devitalizuoti pažeisto nervo audinius</li>
					<li class="list-group-item list-group-item-action" style="background-color: #24b8f7; width: 400px;">
						Kaina: nuo 39 eurų.</li>
				</ul>
			</div>
			<div class="col d-flex flex-row-reverse">
				<figure class="figure">
					<img src="plomb.jpg" class="figure-img img-fluid rounded" width="290" height="310">
					<figcaption class="figure-caption">
						<p class="text-dark" style="font-size: 25px; font-weight: bold"><br>Plombavimas</p>
					</figcaption>
				</figure>
			</div>
			<div class="col">
				<ul class="list-group list-group-flush">
					<li class="list-group-item list-group-item-action" style="background-color: #24b8f7; width: 400px;">
						Visiškai saugiai ir neskausmingai plombuojame dantis už prieinamą kainą!</li>
					<li class="list-group-item list-group-item-action" style="background-color: #24b8f7; width: 400px;">
						Kaina: nuo 20 eurų.</li>
				</ul>
			</div>
		</div>

		<hr style="border: 1px dashed #000000; margin-left: 100px; margin-right: 100px; margin-bottom: 50px">

		<div class="row align-items-start" style="padding-right: 10%">
			<div class="col d-flex flex-row-reverse">
				<figure class="figure">
					<img src="rmteeth.jpg" class="figure-img img-fluid rounded" width="290" height="310">
					<figcaption class="figure-caption">
						<p class="text-dark" style="font-size: 25px; font-weight: bold">
							Danties šalinimas</p>
					</figcaption>
				</figure>
			</div>
			<div class="col">
				<ul class="list-group list-group-flush">
					<li class="list-group-item list-group-item-action" style="background-color: #24b8f7; width: 400px;">
						Prieš traukiant  dantis, dažnai atliekami rentgenologiniai tyrimai. Šių tyrimų dėka galima tiksliai nustatyti danties ir aplinkinių struktūrų būklę bei šaknų padėtį.</li>
					<li class="list-group-item list-group-item-action" style="background-color: #24b8f7; width: 400px;">
						Kaina: nuo 49 eurų.</li>
				</ul>
			</div>
			<div class="col d-flex flex-row-reverse">
				<figure class="figure">
					<img src="doctorecon.jpg" class="figure-img img-fluid rounded" width="290" height="310">
					<figcaption class="figure-caption">
						<p class="text-dark" style="font-size: 25px; font-weight: bold">Gydytojo konsultacija</p>
					</figcaption>
				</figure>
			</div>
			<div class="col">
				<ul class="list-group list-group-flush">
					<li class="list-group-item list-group-item-action" style="background-color: #24b8f7; width: 400px;">
						Mokama gydytojo nuotolinė konsultacija skirta visiems pacientams, norintiems gauti mokamą gydytojo specialisto konsultaciją nuotoliniu būdu.</li>
				</li>
			</li>
			<li class="list-group-item list-group-item-action" style="background-color: #24b8f7; width: 400px;">
				Kaina: nuo 50 eurų.</li>
		</ul>
	</div>
</div><hr style="border: 1px dashed #000000; margin-left: 100px; margin-right: 100px; margin-bottom: 50px"><div class="row align-items-start" style="padding-right: 10%">
	<div class="col d-flex flex-row-reverse">
		<figure class="figure">
			<img src="frez.jpg" class="figure-img img-fluid rounded" width="290" height="310">
			<figcaption class="figure-caption">
				<p class="text-dark" style="font-size: 25px; font-weight: bold">Frezuotas laikinas<br>
					PMMA tiltas All-on-4</p>
			</figcaption>
		</figure>
	</div>
	<div class="col">
		<ul class="list-group list-group-flush">
			<li class="list-group-item list-group-item-action" style="background-color: #24b8f7; width: 400px;">
				Metodas iš esmės keičia visą gydymo eigą, sutrumpina procedūrų laiką ir mažina sąnaudas. Šis būdas leidžia išvengti sudėtingų kaulo priauginimo procedūrų.</li>
			<li class="list-group-item list-group-item-action" style="background-color: #24b8f7; width: 400px;">
				Kaina: nuo 1190 eurų.</li>
		</ul>
	</div>
	<div class="col d-flex flex-row-reverse">
		<figure class="figure">
			<img src="cement.png" class="figure-img img-fluid rounded" width="260" height="140">
			<figcaption class="figure-caption">
				<p class="text-dark" style="font-size: 25px; font-weight: bold">Laikina restauracija<br>stiklo jonomeriniu<br>
					cementu</p>
			</figcaption>
		</figure>
	</div>
	<div class="col">
		<ul class="list-group list-group-flush">
			<li class="list-group-item list-group-item-action" style="background-color: #24b8f7; width: 400px;">
				Stiklo jonomerinis cementas skirtas cervikalinių erozijos zonų, šaknų ėduonies ir III bei IV klasės ertmių restauravimui.
																																																								Pieninių dantų restauravimui.
																																																								Gali būti naudojamas vienas arba kaip pamušalas.</li>
			<li class="list-group-item list-group-item-action" style="background-color: #24b8f7; width: 400px;">
				Kaina: nuo 40 eurų.</li>
		</ul>
	</div>
</div></div>{% endblock %}
