{% extends 'base.html.twig' %}

{% block title %}Prisijungti
{% endblock %}

{% block body %}

	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<div class="container-fluid" style="margin-top: 10%; margin-bottom: 5%">
			<div class="row m-5 justify-content-center" style="font-weight: bold; font-size: 40px;">
				Prašome prisijungti:
			</div>
				<div class="form-group mx-auto" style="width: 485px;">
					<label for="inputEmail" style="font-weight: bold;">
						El. pašto adresas</label>
					<input type="email" value="{{ last_username }}" name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Įveskite el. paštą" required autofocus>
					<small id="emailHelp" class="form-text text-muted">
						<p style="color: #363636; font-size: 15px; font-style: italic;">
							*Atkreipkite dėmesį į mažąsias ir didžiąsias raides.</p>
					</small>
				</div>
				<div class="form-group mx-auto" style="width: 485px;">
					<label for="inputPassword" style="font-weight: bold;">
						Slaptažodis</label>
					<input type="password" name="password" class="form-control" id="inputPassword" placeholder="Įveskite slaptažodį" required>
				</div>
				<div class="form-check mx-auto" style="width: 485px;">
					<input type="checkbox" class="form-check-input" id="rememberMeCheck">
					<label class="form-check-label" for="rememberMeCheck">Prisiminti mane</label>
				</div>
				<div class="row justify-content-center m-2">
					<button type="submit" class="btn btn-dark" style="width: 100px;">Prisijungti</button>
				</div>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		</div>

	</form>{% endblock %}
