{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>

		.p-6 {
			padding: 1rem;
		}

		.mb-25 {
			margin-bottom: 250px
		}

		.rcorners {
			border-radius: 40px;
			border: 6px solid #00a8f3;
			padding: 20px;
			width: 500px;
			height: 300px;
			background-color: white;
		}
	</style>
	<script>
		document.getElementById("btn").addEventListener("click", function () {
document.getElementById("carouselExampleControls").setAttribute("hidden", "");
document.getElementById("temp").removeAttribute("hidden");
});
	</script>

	<div class="row" style="margin-bottom: 40px; margin-top: 50px;">
		<div class="col d-flex flex-row-reverse">
			<div id="carouselExampleControls" class="carousel carousel-dark slide carousel-fade" style="width: 600px; height: 600px; margin-bottom: 40px;" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<figcaption class="bg-white" style="position:relative;top:20px;text-align: center;border-style: solid;">
							<h5 class="font-weight-bold">Platus paslaugų pasirinkimas
								<p class="font-weight-bold">Geri atsiliepimai apie mus!</p>
							</h5>
						</figcaption>
						<img src="/officeoutside.jpg" style="width: 600px; height: 600px;" class="d-block rounded border border-dark" alt="...">
					</div>
					<div class="carousel-item">
						<figcaption class="bg-white" style="position:relative;top:20px;text-align: center;border-style: solid;">
							<div class="bg-white">
								<h5 class="font-weight-bold">Patenktini klientai
									<p class="font-weight-bold">Geri atsiliepimai apie mus!</p>
								</h5>
							</div>
						</figcaption>
						<img
						src="/happyperson.png" style="width: 600px; height: 600px" class="d-block rounded border border-dark" alt="...">

					<!--<div class="carousel-caption d-none d-md-block">
																																																																																																																																																																																																		<h5 class="font-weight-bold">Patenktini klientai</h5>
																																																																																																																																																																																																		<p class="font-weight-bold">Geri atsiliepimai apie mus!</p>
																																																																																																																																																																																																	</div>-->
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
			<div id="temp" hidden>
				<img src="Teeth.jpg" style="width: 600px; height: 600px;" class="d-block rounded border border-dark" alt="...">
			</div>
		</div>
		<div class="col">
			<div class="p-6 mb-25" style="margin-top: 25px;">
				<p class="rcorners">Mes esame tokia ir tokia klinika ir teikiame tokias ir tokias paslaugas!
																																																																																																																																																																																																																	Arba kitaip tariant čia parašyta informacija apie kliniką.</p>
			</div>
		</div>
	</div>

{% endblock %}
