{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	
	<body style="background-color: #00a8f3">
		
		<div class="p-6 mb-25">
			<p class="rcorners">Information about us</p>
		</div>

	</body>
{% endblock %}
