<form method="post" action="{{ path('meeting_delete', {'id': meeting.id}) }}" onsubmit="return confirm('Ar tikrai norite pašalinti šį susitikimą?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ meeting.id) }}">
    <div class="row justify-content-center m-2">
        <button class="btn btn-dark" style="width: 100px;">Pašalinti</button>
    </div>
</form>
