{% extends 'base.html.twig' %}

{% block title %}New Meeting{% endblock %}

{% block body %}
    <h1>Create new Meeting</h1>

    {{ include('meeting/_form.html.twig') }}

    <a href="{{ path('meeting_index') }}">back to list</a>
{% endblock %}
