<form method="post" action="{{ path('procedure_delete', {'id': procedure.id}) }}" onsubmit="return confirm('Ar tikrai norite pašalinti šią procedūrą?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ procedure.id) }}">
    <div class="row justify-content-center m-2">
        <button class="btn btn-dark" style="width: 100px;">Pašalinti</button>
    </div>
</form>
