{% extends 'base.html.twig' %}

{% block title %}Meeting types!{% endblock %}

{% block body %}


    {{ form_start(procedureAddForm) }}

    <div class="row justify-content-center m-2">
        <button type="submit" class="btn btn-dark" style="width: 100px;">Prideti</button>
    </div>
    {{ form_end(procedureAddForm) }}
{% endblock %}
