{% extends 'base.html.twig' %}
{% block body %}
    <h1>Neturine prieigos</h1>

    <p>
        Jūs neturite prieigos pasiekti šį puslapį.
        <a href="{{ path('home') }}">Eikite į pagrindinį puslapį</a>.
    </p>
{% endblock %}