{% extends 'base.html.twig' %}

{% block title %}User!{% endblock %}

{% block body %}

    <h1>Change password</h1>

    {{ form_start(ChangePasswordForm) }}
    {{ form_row(ChangePasswordForm.oldPassword, {
        label:'Current password',
    }) }}
    {{ form_row(ChangePasswordForm.newPassword) }}
    <button type="submit" class="btn">Change password</button>
    {{ form_end(ChangePasswordForm) }}
{% endblock %}
