{% extends 'base.html.twig' %}

{% block title %}User!{% endblock %}

{% block body %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
            <div class="mb-3">
                <a href="{{ path('app_user_change_password') }}"><button>Change password</button></a>
            </div>
        {% endif %}

{% endblock %}
